<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hemooffice.suopu.mapper.ActivitiManageMapper">
    <!--新增审批类别-->
    <insert id="addActivitiCategory" parameterType="com.hemooffice.suopu.dto.OaActCategory" useGeneratedKeys="true" keyProperty="id">
    INSERT INTO `OA_ACT_CATEGORY` (ORG_ID,CATEGORY_NAME,ORDER_NUM,IRREVOCABLE,CREATE_DATE,ACTIVE)
                                                VALUES (#{orgId}, #{categoryName}, #{orderNum}, #{irrevocable}, now(),1)
    </insert>
    <!--加载当前机构审批类别-->
    <select id="findOrgActCategory" resultType="com.hemooffice.suopu.dto.OaActCategory" >
      SELECT *
      FROM `OA_ACT_CATEGORY`
     WHERE ACTIVE = 1
       AND ORG_ID = #{orgId}
    </select>
    <!--删除审批流程类别-->
    <update id="deleteActCategory" >
        UPDATE `OA_ACT_CATEGORY` SET ACTIVE = 0, LAST_DATE = now() WHERE ID = #{id} AND ORG_ID = #{orgId}
    </update>
    <!--插入流程定义-->
    <insert id="addActDef" parameterType="com.hemooffice.suopu.dto.OaActDef" useGeneratedKeys="true" keyProperty="id" >
        INSERT INTO `OA_ACT_DEF` (DEPLOYMENT_ID, `NAME`,CATEGORY_ID, FORM_TYPE, FORM_ITEM,FLOW_CHART,ORG_ID,CREATE_EMP,CREATE_DATE,ACTIVE)
									VALUES (#{deploymentId}, #{name}, #{categoryId}, #{formType}, #{formItem}, #{flowChart}, #{orgId}, #{createEmp}, now(),1);
    </insert>

    <!--获取指定机构流程列表-->
    <select id="findActDefList" resultType="com.hemooffice.suopu.dto.OaActDefRes" >
            SELECT  F.ID,
                    F.DEPLOYMENT_ID,
                    F.`NAME`,
                    F.CATEGORY_ID,
                    F.ORG_ID,
                    F.CREATE_EMP,
                    U.USER_NAME AS CREATE_EMP_NAME,
                    F.ACTIVE,
                    C.CATEGORY_NAME
         FROM `OA_ACT_DEF` F,
               `OA_USER` U,
               `OA_ACT_CATEGORY` C
      WHERE F.ORG_ID = #{orgId}
          AND F.CATEGORY_ID = C.ID
		  AND F.CREATE_EMP = U.USER_ID
    </select>
    <!--获取指定机构表单列表-->
    <select id="findActDefFormItem" parameterType="java.lang.Integer" resultType="com.hemooffice.suopu.dto.OaActDef">
        SELECT  ID,
                 DEPLOYMENT_ID,
				`NAME`,
				CATEGORY_ID,
				FORM_ITEM,
				ORG_ID,
				CREATE_EMP,
				ACTIVE,
				DELETE_EMP,
				DELETE_DATE
	      FROM `OA_ACT_DEF`
         WHERE ORG_ID = #{orgId}
    </select>
    <!--启用或者停用流程-->
    <update id="updateActDefActive" >
      UPDATE `OA_ACT_DEF` D SET D.ACTIVE = #{active} WHERE D.ORG_ID = #{orgId} AND D.ID = #{id}
    </update>
    <!--根据流程ID加载表单-->
    <select id="findActDefFormItemById" resultType="com.hemooffice.suopu.dto.OaActDef" >
        SELECT  ID,
                DEPLOYMENT_ID,
				`NAME`,
				CATEGORY_ID,
				FORM_TYPE,
				FORM_ITEM,
				ORG_ID,
				CREATE_EMP,
				ACTIVE,
				DELETE_EMP,
				DELETE_DATE
	      FROM `OA_ACT_DEF`
         WHERE ORG_ID = #{orgId}
           AND ID = #{id}
    </select>
    <!--根据流程ID加载Bpmn-->
    <select id="findActDefBpmn" resultType="com.hemooffice.suopu.dto.OaActDef" >
        SELECT   ID,
                 DEPLOYMENT_ID,
				 `NAME`,
				 CATEGORY_ID,
				 FLOW_CHART,
				 ORG_ID,
				 CREATE_EMP,
				 ACTIVE,
				 DELETE_EMP,
				 DELETE_DATE
	      FROM `OA_ACT_DEF`
         WHERE ORG_ID = #{orgId}
           AND ID = #{id}
    </select>
    <!--更新流程定义根据流程ID-->
    <update id="updateActDefById" parameterType="com.hemooffice.suopu.dto.OaActDef">
        UPDATE `OA_ACT_DEF`
           SET `NAME` = #{name},
                 CATEGORY_ID = #{categoryId},
                     FORM_TYPE = #{formType},
                     FORM_ITEM = #{formItem},
                     FLOW_CHART = #{flowChart},
                     ACTIVE = #{active},
                     DELETE_EMP = #{deleteEmp},
                     DELETE_DATE = #{deleteDate}
        WHERE  ORG_ID = #{orgId}
          AND   ID = #{id}
    </update>

    <!--根据id加载流程定义-->
    <select id="findActDefById" parameterType="java.lang.Integer" resultType="com.hemooffice.suopu.dto.OaActDef">
        SELECT *
	      FROM `OA_ACT_DEF`
         WHERE ORG_ID = #{orgId}
           AND ID = #{id}
    </select>

    <!--插入流程附件-->
    <insert id="insertOaActFile" parameterType="com.hemooffice.suopu.dto.OaActFile" useGeneratedKeys="true" keyProperty="fileId" >
      INSERT INTO `OA_ACT_FILE` (FILE_NAME, ORG_ID, FILE_ORIGINAL_NAME, FILE_PATH, BPMN_ID, ELEMENT_ID, UPLOAD_USER, CREATE_DATE, FILE_CONTENT, ACTIVE)
			  VALUES (#{fileName}, #{orgId}, #{fileOriginalName}, #{filePath}, #{bpmnId}, #{elementId}, #{uploadUser}, NOW(), #{fileContent}, #{active})
    </insert>
    <!--删除流程附件-->
    <update id="removeOaActFile" parameterType="java.lang.Integer">
      UPDATE `OA_ACT_FILE` F SET ACTIVE = 0 WHERE F.ORG_ID = #{orgId} AND F.FILE_ID = #{fileId}
    </update>

    <!--根据机构id、流程id、附件id查询附件列表-->
    <select id="findOaActFileListByFileIdOrgIdActId" resultType="com.hemooffice.suopu.dto.OaActFile">
    SELECT OF.FILE_ID,
			OF.ORG_ID,
			OF.FILE_NAME,
			OF.FILE_ORIGINAL_NAME,
			OF.BPMN_ID,
			OF.ELEMENT_ID
      FROM `OA_ACT_FILE` OF
     WHERE OF.ACTIVE = 1
         AND OF.ORG_ID = #{orgId}
         AND OF.BPMN_ID = #{actId}
    </select>
    <!--根据机构id、流程id、附件id查询附件blob内容-->
    <select id="findFileContentByFileIdOrgIdActId" resultType="com.hemooffice.suopu.dto.OaActFile">
     SELECT OF.FILE_ID,
			OF.ORG_ID,
			OF.FILE_NAME,
			OF.FILE_ORIGINAL_NAME,
			OF.BPMN_ID,
			OF.FILE_CONTENT
      FROM `OA_ACT_FILE` OF
     WHERE OF.ACTIVE = 1
         AND OF.ORG_ID = #{orgId}
         AND OF.BPMN_ID = #{actId}
         AND OF.FILE_ID = #{fileId}
    </select>
    <!--根据机构和部署id查询流程定义-->
    <select id="findOaActDefByOrgIdDeployId" resultType="com.hemooffice.suopu.dto.OaActDef">
          SELECT ID,
                 DEPLOYMENT_ID,
				 `NAME`,
				 CATEGORY_ID,
				 ORG_ID,
				 ACTIVE
	      FROM `OA_ACT_DEF`
         WHERE ORG_ID = #{orgId}
           AND DEPLOYMENT_ID = #{deploymentId}
           AND ACTIVE = 1
    </select>
</mapper>
