<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hemooffice.suopu.mapper.DeptMapper" >
  <resultMap id="BaseResultMap" type="com.hemooffice.suopu.dto.Dept" >
    <id column="DEPT_ID" property="deptId" jdbcType="INTEGER" />
    <result column="PARENT_ID" property="parentId" jdbcType="INTEGER" />
    <result column="ORG_ID" property="orgId" jdbcType="INTEGER" />
    <result column="DEPT_NAME" property="deptName" jdbcType="VARCHAR" />
    <result column="DEPT_DESC" property="deptDesc" jdbcType="VARCHAR" />
    <result column="ORDER_NUM" property="orderNum" jdbcType="INTEGER" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="MODIFY_TIME" property="modifyTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <!--加载指定机构所有部门-->
  <select id="findDeptByOrgId" resultType="com.hemooffice.suopu.dto.Dept" >
    SELECT *
	  FROM OA_DEPT D
     WHERE D.ACTIVE = 1
       AND D.ORG_ID = #{orgId,jdbcType=INTEGER}
  </select>

  <!--新增部门-->
  <insert id="addDept" useGeneratedKeys="true" keyProperty="deptId" keyColumn="DEPT_ID" >
    INSERT INTO `OA_DEPT`(PARENT_ID,ORG_ID,DEPT_NAME,DEPT_DESC,ORDER_NUM,CREATE_TIME)
				   VALUES(#{parentId},#{orgId},#{deptName},#{deptDesc},#{orderNum},now())
  </insert>
  <!--新增部门用户-->
  <insert id="addDeptUser">
    INSERT INTO `OA_USER_DEPT`(USER_ID,DEPT_ID,CREATE_TIME)
                                            VALUES
      <foreach collection="userDeptList" item="item" index="index" separator=",">
          (
          #{item.userId},#{item.deptId},now()
          )
      </foreach>
  </insert>
  <!--删除部门用户-->
  <delete id="deleteDeptUser" parameterType="com.hemooffice.suopu.dto.UserDept">
    DELETE FROM `OA_USER_DEPT` UD WHERE UD.DEPT_ID = #{deptId}
  </delete>

</mapper>