<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hemooffice.suopu.mapper.RoleMapper" >
  <resultMap id="BaseResultMap" type="com.hemooffice.suopu.dto.Role" >
    <id column="ROLE_ID" property="roleId" jdbcType="INTEGER" />
    <result column="ROLE_NAME" property="roleName" jdbcType="VARCHAR" />
    <result column="ORG_ID" property="orgId" jdbcType="INTEGER" />
    <result column="ROLE_IDENTIFI" property="roleIdentifi" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="MODIFY_TIME" property="modifyTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <!--根据机构ID查询当前角色-->
  <select id="findRoleList" parameterType="java.lang.Integer" >
      SELECT * FROM `OA_ROLE` WHERE ORG_ID = #{orgId} AND ACTIVE = 1
  </select>
</mapper>