<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hemooffice.suopu.mapper.UserMapper" >
  <resultMap id="BaseResultMap" type="com.hemooffice.suopu.dto.User" >
    <id column="USER_ID" property="userId" jdbcType="INTEGER" />
    <result column="USER_NAME" property="userName" jdbcType="VARCHAR" />
    <result column="SEX" property="sex" jdbcType="CHAR" />
    <result column="USER_ACCOUNT" property="userAccount" jdbcType="VARCHAR" />
    <result column="PASSWORD" property="password" jdbcType="VARCHAR" />
    <result column="EMAIL" property="email" jdbcType="VARCHAR" />
    <result column="MOBILE" property="mobile" jdbcType="VARCHAR" />
    <result column="TELL" property="tell" jdbcType="VARCHAR" />
    <result column="HIDDEN_TELL" property="hiddenTell" jdbcType="INTEGER" />
    <result column="ORDER_NUM" property="orderNum" jdbcType="INTEGER" />
    <result column="ORG_ID" property="orgId" jdbcType="INTEGER" />
    <result column="STATUS" property="status" jdbcType="CHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="MODIFY_TIME" property="modifyTime" jdbcType="TIMESTAMP" />
    <result column="LAST_LOGIN_TIME" property="lastLoginTime" jdbcType="TIMESTAMP" />
  </resultMap>

  <!--根据账户查找用户-->
  <select id="findUserByUserAccount" resultType="com.hemooffice.suopu.dto.User" >
    select USER_ID, USER_NAME, SEX, USER_ACCOUNT, PASSWORD, EMAIL, MOBILE, TELL, HIDDEN_TELL,
    ORDER_NUM, ORG_ID, STATUS, CREATE_TIME, MODIFY_TIME, LAST_LOGIN_TIME
    from oa_user where USER_ACCOUNT = #{userAccount,jdbcType=INTEGER}
  </select>
  <!--根据机构id获取机构所有用户-->
  <select id="findUsersByOrgId" parameterType="java.lang.Integer" resultType="com.hemooffice.suopu.dto.User">
    SELECT U.USER_ID,
			 U.USER_NAME,
			 U.USER_ACCOUNT,
			 U.TELL,
			 U.`STATUS`,
			 U.SIGNATURE,
			 U.SEX,
			 U.ORG_ID,
			 U.ORDER_NUM,
			 U.MODIFY_TIME,
			 U.MOBILE,
			 U.LAST_LOGIN_TIME,
			 U.HIDDEN_TELL,
			 U.EMAIL,
			 U.CREATE_TIME
  FROM `OA_USER` U
 WHERE U.ORG_ID = #{orgId,jdbcType=INTEGER}
  </select>
    <!-- 新增用户 -->
    <insert id="addUser" parameterType="com.hemooffice.suopu.dto.User" useGeneratedKeys="true" keyProperty="userId" keyColumn="USER_ID" >
		INSERT INTO `OA_USER`(USER_NAME,SEX,USER_ACCOUNT,LOGIN_ALIAS,EMP_NBM,`PASSWORD`, EMAIL, MOBILE,TELL,HIDDEN_TELL,ORDER_NUM,ORG_ID,CREATE_TIME)
              VALUES(#{userName},#{sex},#{userAccount},#{loginAlias},#{empNbm},#{password},#{email},#{mobile},#{tell},#{hiddenTell},#{orderNum},#{orgId},now())
	</insert>
</mapper>